# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual environment
.venv/
venv/

# Environment variables - NEVER push this
.env

# Django
*.log
db.sqlite3


# Docker
.docker/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db